.animate-in{
    visibility: visible;
    opacity: 100%;
    transform: translateX(0);
}

@keyframes animate-in{
    from{
        visibility: hidden;
    }

    1%{
        visibility: visible;
        opacity: 0%;
    }

    to{
        visibility: visible;
        opacity: 100%;
    }

}

.animate-out{
    visibility: hidden;
    opacity: 0%;
    transform: translateX(100vw);
}

@keyframes animate-out{
    from{
        visibility: visible;
        opacity: 100%;
    }

    99%{
        visibility: visible;
    }

    to{
        visibility: hidden;
        opacity: 0%;
    }
}


.background-in{
    background-color: $light-blue;
    backface-visibility: visible;
}

.background-out{
    //background-color: $black;
    backface-visibility: hidden;
}

.scale-in{

}

.scale-out{
    
}