//hamburger animation in
.animate-in{
    visibility: visible;
    opacity: 100%;
    transform: translateX(0);
}

/*@keyframes animate-in{
    from{
        visibility: hidden;
    }

    1%{
        visibility: visible;
        opacity: 0%;
    }

    to{
        visibility: visible;
        opacity: 100%;
    }

}*/

//hamburger animation out
.animate-out{
    visibility: hidden;
    opacity: 0%;
    transform: translateX(100vw);
}

/*@keyframes animate-out{
    from{
        visibility: visible;
        opacity: 100%;
    }

    99%{
        visibility: visible;
    }

    to{
        visibility: hidden;
        opacity: 0%;
    }
}*/

//navbar bg
.background-in{
    background-color: $light-blue;
    backface-visibility: visible;
}

//navbar bg
.background-out{
    //background-color: $black;
    backface-visibility: hidden;
}

.tratamentos-in{
    transform: translateY(0);
    opacity: 100%;
}

.tratamentos-out{
    transform: translateY(-160px);
    opacity: 0%;
}


//Sobre Title
.sobre-in-t{
    transform: translateY(0);
    opacity: 100%;
    transition: all 1s ease-out;
}

//Sobre Title
.sobre-out-t{
    transform: translateY(-150px);
    opacity: 0%;
    transition: all 1s ease-out;
}

//sobre parágrafo.
//sobre-int-p-ul
.rotate-in{
    transform: rotateY(0);
    opacity: 100%;
    transition: all 1s ease-out;
}

//sobre parágrafo
//sobre-out-p-ul
.rotate-out{
    transform: rotateY(90deg);
    opacity: 0%;
    transition: all 1s ease-out;
}

//Animação do mapa para cima
.map-icon-up{
    transform: translateY(-20px);
}

//Animação do mapa para baixo
.map-icon-down{
    transform: translateY(0);
}

//Animação da sombra do mapa 'encolendo'
.map-shadow-up{
    //transform: scale(85%);
    transform: scale(100%);
}

//Animação da sombra do mapa 'expandindo'
.map-shadow-down{
    //transform: scale(100%);
    transform: scale(85%);
}


//hamburger btn animation
.hamburger-btn-open{

}

.hamburger-btn-close-span-1-down{
    transform: translateY(9px) rotateZ(45deg);
}

.hamburger-btn-close-span-2-opacity{
    opacity: 0;
}

.hamburger-btn-close-span-3-up{
    transform: translateY(-9px) rotateZ(-45deg);
}

.consultorio-carousel{
    transform: translateX(-680px);
    transition: 1s ease-in-out;
}