.contatos{ //footer
    
    background-color: $black;
    padding-bottom: 6.25rem;

    h2{
        padding: 3.125rem 0;
    }

    &___container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $white;

        @include mobile(800px){
            flex-direction: column;
        }

        //Redes Sociais
        &___redes-sociais{

            @include mobile(800px){
                padding-bottom: 6.25rem; 
            }

            &___items{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                color: $white;
                width: 150px;

                img {
                    height: 3.125rem;
                    margin-right: 1.25rem;
                }

                &:not(:last-child){
                    padding-bottom: 3.125rem;
                }
            }      
        }

        //FORMULÃRIO
        &___forms{
            display: flex;
            flex-direction: column;
            align-items: center;

        
            &___items{
                display: flex;
                flex-direction: column;

                @include mobile(800px){
                    align-items: center;
                }
            
                &:not(:last-child){
                    padding-bottom: 1.25rem;
                }

                > label{
                    font-weight: 700;
                }

                > input{
                    font-size: 2.5rem;
                    width: 25rem;
                    height: 3.75rem;

                    @include mobile(800px){
                        width: 70vw;
                    }
            
                }

                > textarea{
                    width: 400px;
                    height: 120px;

                    @include mobile(800px){
                        width: 70vw;
                    }
                }

                &___submit{
                    border: none;
                    height: 50px;
                    width: 200px;
                    border-radius: 50px;
                    background-color: $light-blue;

                    font-size: 25px;
                    color: $white;
                    font-weight: 600;
                    text-transform: uppercase;

                    transition: all 1s;

                    &:hover{
                        cursor: pointer;
                        background-color: $dark-blue;
                    }
                }
            }
        }
    }
}