.geral{
    display: flex;
    justify-content: center;
}

.consultorio{

    &___container{
        width: 33vw;
        height: 45vh;
        border-radius: 20px;
        overflow: hidden;

        &___slides{
                display: flex;
                width: 500%;

            &___slide{
                width: 20%;
                transition: 1.5s;
                img{
                    height: 45vh;
                }
            }

            input{
                display: none;
            }

            &___manual{

                position: absolute;
                width: 674.66px;
                margin-top: 420px;
                display: flex;
                justify-content: center;

                &___btn{
                    border: 2px solid #40d3dc;
                    padding: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 1s;

                    &:hover{
                        background: #40d3dc;
                    }

                    &:not(:last-child){
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}