.header{

    height: 100vh;
    width:  100%;
    //background-image: url(../img/consultorio.jpg);

    /*display: flex;
    flex-wrap: wrap;*/

    nav{
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    &___container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.8rem 1.875rem;
        height: 13vh;
        //background: $white;


    }


    &___logo {

        img{
            width: 9.375rem;
        }
    }


    &___menu {
        ul{
            display: flex;
            align-items: center;
        }

        ul > li{
            &:not(:first-child){
                padding-left: 1.875rem;
            }
        }

        &___content{

            font-weight: 700;
            letter-spacing: 0.2rem;
            transition: all 0.5s;

            color: $white;

            &:hover{
                font-size: larger;
                color: $light-blue;
            }
            
            &:not(:first-child){
                
            }


            img{
                
            }
        }

        &___button{
            
            img{
                height: 3.75rem;
                padding: 0.9375rem;
                background-color: $light-blue;
                border-radius: 30%;

                transition: height 0.3s;

                &:hover{
                    height: 4.0625rem;
                }
                
            }
        }
    }

    &___hamburger{

        > span{
            display: block;

            height: 0.25rem;
            width: 1.5625rem;
            background: $white;

            &:not(:last-child){
                margin-bottom: 0.3125rem;
            }
        }
    }



    &___img___container{

        background-image: url(../img/consultorio.jpg);
        background-blend-mode: color;
        background-color: $transparent-gray;
        background-size: cover;

        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        > h3{
            font-size: 4rem;
        }

        > p{
            font-size: 3rem;
        }
    }
}