.header{

    height: 100vh;
    width:  100%;
    //background-image: url(../img/consultorio.jpg);

    /*display: flex;
    flex-wrap: wrap;*/

    nav{
        position:fixed;
        z-index: 2;
        top: 0;
        right: 0;
        left: 0;
    }

    &___container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        //flex-wrap: wrap;
        //padding: 0.8rem 1.875rem;
        height: 11vh;
        transition: 0.6s ease-out;

        padding: 50px 0 40px 0;
    }


    &___logo {

        img{
            width: 9rem;
        }
    }


    &___menu {
        ul{
            display: flex;
            align-items: center;
        }

        ul > li{
            &:not(:first-child){
                padding-left: 1.875rem;
            }
        }

        &___items{

            font-weight: 700;
            font-size: 15px;
            letter-spacing: 0.2rem;
            transition: all 0.5s;

            color: $white;

            &:hover{
                font-size: larger;
                color: $dark-blue;
            }
        }

        &___button{//whats button
            
            img{
                height: 3.75rem;
                padding: 0.9375rem;
                //background-color: $green;
                //border-radius: 30%;
                //filter: brightness(100%);

                transition: height 0.3s;

                &:hover{
                    height: 4.0625rem;
                }
                
            }
        }
    }

    //Mobile Menu
    &___hamburger{

        > span{
            display: block;

            height: 0.25rem;
            width: 1.5625rem;
            background: $white;

            &:not(:last-child){
                margin-bottom: 0.3125rem;
            }
        }
    }



    &___img___container{

        background-image: url(../img/consultorio.jpg);
        background-blend-mode: color;
        background-color: $transparent-gray;
        background-size: cover;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        

        &___frase{
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            align-items: center;
            color: rgb(234, 240, 241);

            > h3{
                font-size: 4rem;
                font-weight: bolder;
            }

            > p{
                font-size: 3rem;
                font-weight: 300;
            }
        }
        
    }
}

.hamburger___menu{
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    margin: 0 5vw;
    background-color: white;
    padding: 40px 0 40px 0;
    border-radius: 20px; 

    display: flex;
    box-shadow: 20px 20px 100px $black,
                -20px 20px 100px $black;
    flex-direction: column;
    align-items: center;

    transition: 0.5s;

    &___button{
        > img{
            height: 3rem;
            //padding: 0.9375rem;
            //background-color: $green;
            //border-radius: 30%;
             filter: brightness(5%);
        }

        //transition: height 0.3s;
    }

    > a{

        transition: all 0.6s ease-in-out;

        &:not(:last-child){
            padding-bottom: 20px;
        }

        &:hover{
            color: $light-blue;
        }
    }
}