.sobre{

    display: flex;
    flex-direction: column;
    align-items: center;

    //BG do Sobre com parallax
    background: url(../img/odontologia.png);
    background-blend-mode: soft-light;
    background-color: $transparent-dark-gray;
    background-size: cover;
    background-attachment: fixed;

    margin-right: 0;
    padding: 50px 0;

    > h2{
        margin-bottom: 50px;
        color: $lighter-blue;
    }

    &___hr{

        display: flex;
        align-items: center;

        &___items{
            //display: block;
            margin-right: 30px;
            height: 80%;
            width: 1px;
            background-color: $white;

            @include mobile($change-flex-tratamento){
                margin: 0;
                height: 1px;
                width: 100%;
            }
            
        }
    }

    &___container{
        display: flex;
        justify-content: center;
        border-right: 10px $black;
        color: $white;


        @include mobile($change-flex-tratamento){
            flex-direction: column;
            justify-items: center;
        }

        &___items{
            
            text-align: center;
            margin-right: 75px;
            margin-left: 75px;

            width: 300px;

            @include mobile($change-flex-tratamento){
                margin: 75px 0 75px 0;
            }

            > h3{
                font-weight: 900;
                font-size: 1.5rem;
            }

            > p{
                max-width: 300px;
                margin-top: 20px;
                font-size: 1.2rem;
                
                letter-spacing: 2px;
                line-height: 1.7rem;
                font-weight: 300;
            }

            > ul{
                text-align: left;
                padding: 0;

                li{
                    list-style-type: disc;
                    font-size: 1.2rem;

                    letter-spacing: 2px;
                    line-height: 1.7rem;
                    font-weight: 300;
                    &:not(:last-child){
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}