.sobre{

    display: flex;
    flex-direction: column;
    align-items: center;

    //BG do Sobre com parallax
    background: url(../img/odontologia.png);
    background-blend-mode: soft-light;
    background-color: $transparent-dark-gray;
    background-size: cover;
    background-attachment: fixed;

    //margin-right: 0;
    padding: 3.125rem 0;

    > h2{
        margin-bottom: 3.125rem;
        color: $lighter-blue;
    }

    &___hr{

        display: flex;
        align-items: center;

        &___items{
            //display: block;
            margin-right: 1.875rem;
            height: 80%;
            width: 0.0625rem;
            background-color: $white;

            @include mobile($change-flex){
                margin: 0;
                height: 0.0625rem;
                width: 100%;
            }
            
        }
    }

    &___container{
        display: flex;
        justify-content: center;
        border-right: 0.625rem $black;
        color: $white;


        @include mobile($change-flex){
            flex-direction: column;
            justify-items: center;
        }

        &___items{
            
            text-align: center;
            margin-right: 4.6875rem;
            margin-left: 4.6875rem;

            width: 18.75rem;

            @include mobile($change-flex){
                margin: 4.6875rem 0 4.6875rem 0;
            }

            > h3{
                font-weight: 900;
                font-size: 1.5rem;
            }

            > p{
                max-width: 18.75rem;
                margin-top: 1.25rem;
                font-size: 1.2rem;
                
                letter-spacing: 0.125rem;
                line-height: 1.7rem;
                font-weight: 300;
            }

            > ul{
                text-align: left;
                padding: 0;

                li{
                    list-style-type: disc;
                    font-size: 1.2rem;

                    letter-spacing: 0.125rem;
                    line-height: 1.7rem;
                    font-weight: 300;
                    &:not(:last-child){
                        padding-bottom: 0.3125rem;
                    }
                }
            }
        }
    }
}