.tratamentos{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mobile ($change-flex){
        margin-left: 0;
        margin-right: 0;
    }


    &___items{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;

        transition: all 1s ease-in-out;

        &___lines{
            display: flex;
            align-items: center;

            @include mobile ($change-flex){
                flex-direction: column;
                align-items: center;
                width: 100vw;
            }
        }


        &___container{

            margin: 1.875rem 6.25rem 0 6.25rem;

            img{
                height: 5.625rem;
                width: 5.625rem;
                padding: 0.9375rem;

                margin-bottom: 0.625rem;

                transition: transform 1s, background-color 0.5s;

                background: $light-blue;
                border-radius: 50%;

                &:hover{
                    transform: rotate(45deg);
                    background-color: $dark-blue;
                }

            }

            h3{
                font-weight: 300;
                letter-spacing: 0.0625rem;
                font-size: 1.5rem;
            }
        }
    }
}