$black: rgb(20, 20, 20);
$white: rgb(243, 239, 239);
$rose: rgb(245, 22, 108);

$light-blue: rgb(112, 199, 212);
$lighter-blue: rgb(150, 228, 240);
$dark-blue: rgb(36, 95, 104);

$transparent-gray: rgba(29, 30, 31, 0.548);
$transparent-dark-gray: rgba(11, 5, 8, 0.877);



$max-width: 1310px;
$min-width: 1311px;
$change-flex-tratamento: 1100px;