*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: #141414;
}

body a {
  text-decoration: none;
  color: #141414;
}

body ul li {
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.subtitles {
  letter-spacing: 1px;
  font-size: 2rem;
  color: #70c7d4;
  margin-bottom: 30px;
}

.container-margin {
  margin: 50px 50px 100px 0;
}

@media (max-width: 1310px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1311px) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  height: 100vh;
  width: 100%;
  /*display: flex;
    flex-wrap: wrap;*/
}

.header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 30px;
  height: 13vh;
}

.header___logo img {
  width: 150px;
}

.header___menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header___menu ul > li:not(:first-child) {
  padding-left: 30px;
}

.header___menu___content {
  font-weight: 700;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f3efef;
}

.header___menu___content:hover {
  font-size: larger;
  color: #70c7d4;
}

.header___menu___button img {
  height: 60px;
  padding: 15px;
  background-color: #70c7d4;
  border-radius: 30%;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.header___menu___button img:hover {
  height: 65px;
}

.header___hamburger > span {
  display: block;
  height: 4px;
  width: 25px;
  background: #f3efef;
}

.header___hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header___img___container {
  background-image: url(../img/consultorio.jpg);
  background-blend-mode: color;
  background-color: rgba(29, 30, 31, 0.548);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header___img___container > h3 {
  font-size: 4rem;
}

.header___img___container > p {
  font-size: 3rem;
}

.tratamentos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tratamentos___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70vw;
}

@media (max-width: 1100px) {
  .tratamentos___items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

.tratamentos___items___container {
  margin: 30px 100px 0 100px;
  /*@include mobile ($change-flex-tratamento){
                margin: 10px 0 20px 0;
            }*/
}

.tratamentos___items___container img {
  height: 90px;
  width: 90px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.5s, -webkit-transform 1s;
  transition: background-color 0.5s, -webkit-transform 1s;
  transition: transform 1s, background-color 0.5s;
  transition: transform 1s, background-color 0.5s, -webkit-transform 1s;
  background: #70c7d4;
  border-radius: 50%;
}

.tratamentos___items___container img:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #245f68;
}

.tratamentos___items___container h3 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/ondontologia.jpg);
  background-blend-mode: color;
  background-color: rgba(29, 30, 31, 0.685);
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  margin-right: 0;
  padding: 40px 0;
}

.sobre > h2 {
  margin-bottom: 50px;
  color: #96e4f0;
}

.sobre___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f3efef;
}

.sobre___container___items {
  text-align: center;
  margin-right: 75px;
  margin-left: 75px;
}

.sobre___container___items:first-child {
  border-right: 6px #f3efef;
}

.sobre___container___items > h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.sobre___container___items > p {
  max-width: 400px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.sobre___container___items > ul {
  text-align: left;
  padding: 0;
}

.sobre___container___items > ul li {
  list-style-type: disc;
}

.sobre___container___items > ul li:not(:last-child) {
  padding-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */