.animate-in {
  visibility: visible;
  opacity: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*@keyframes animate-in{
    from{
        visibility: hidden;
    }

    1%{
        visibility: visible;
        opacity: 0%;
    }

    to{
        visibility: visible;
        opacity: 100%;
    }

}*/
.animate-out {
  visibility: hidden;
  opacity: 0%;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

/*@keyframes animate-out{
    from{
        visibility: visible;
        opacity: 100%;
    }

    99%{
        visibility: visible;
    }

    to{
        visibility: hidden;
        opacity: 0%;
    }
}*/
.background-in {
  background-color: #70c7d4;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.background-out {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tratamentos-in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 100%;
}

.tratamentos-out {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  opacity: 0%;
}

.sobre-in-t {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.sobre-out-t {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  opacity: 0%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.rotate-in {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.rotate-out {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  opacity: 0%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.map-icon-up {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.map-icon-down {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.map-shadow-up {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.map-shadow-down {
  -webkit-transform: scale(85%);
          transform: scale(85%);
}

.hamburger-btn-close-span-1-down {
  -webkit-transform: translateY(9px) rotateZ(45deg);
          transform: translateY(9px) rotateZ(45deg);
}

.hamburger-btn-close-span-2-opacity {
  opacity: 0;
}

.hamburger-btn-close-span-3-up {
  -webkit-transform: translateY(-9px) rotateZ(-45deg);
          transform: translateY(-9px) rotateZ(-45deg);
}

.consultorio-carousel {
  -webkit-transform: translateX(-680px);
          transform: translateX(-680px);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #1a1919;
}

body a {
  text-decoration: none;
  color: #1a1919;
}

body ul li {
  list-style: none;
}

body ::-moz-selection {
  background: #70c7d4;
  color: #eb506a;
}

body ::selection {
  background: #70c7d4;
  color: #eb506a;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.subtitles {
  letter-spacing: 0.0625rem;
  font-size: 2rem;
  color: #70c7d4;
  margin-bottom: 1.875rem;
  text-align: center;
}

.container-margin {
  margin: 3.125rem 0 6.25rem 0;
}

@media (max-width: 1310px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1311px) {
  .hide-for-desktop {
    display: none;
  }
}

.brightness {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.header {
  height: 100vh;
  /*display: flex;
    flex-wrap: wrap;*/
}

.header nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.header___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  padding: 3.125rem 0 2.5rem 0;
}

.header___logo img {
  width: 9rem;
}

.header___menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header___menu ul > li:not(:first-child) {
  padding-left: 1.875rem;
}

.header___menu___items {
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f3efef;
}

.header___menu___items:hover {
  font-size: larger;
  color: #245f68;
}

.header___menu___button img {
  height: 3.75rem;
  padding: 0.9375rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.header___menu___button img:hover {
  height: 4.0625rem;
}

.header___hamburger > span {
  display: block;
  height: 0.25rem;
  width: 1.5625rem;
  background: #f3efef;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header___hamburger > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header___img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.header___img___container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header___img___container___frase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eaf0f1;
}

.header___img___container___frase > h3 {
  font-size: 4rem;
  font-weight: bolder;
}

.header___img___container___frase > p {
  font-size: 3rem;
  font-weight: 300;
}

#slide-1 {
  background-image: url(../img/consultorio.jpg);
  background-blend-mode: color;
  background-color: rgba(22, 22, 22, 0.781);
}

#slide-2 {
  background-image: url(../img/consultorio2.jpg);
  background-blend-mode: color;
  background-color: rgba(22, 22, 22, 0.781);
}

#slide-3 {
  background-image: url(../img/consultorio3.jpg);
  background-blend-mode: darken;
  background-color: rgba(22, 22, 22, 0.781);
}

.hamburger___menu {
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;
  margin: 0 5vw;
  background-color: white;
  padding: 2.5rem 0 2.5rem 0;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1.25rem 1.25rem 6.25rem #1a1919, -1.25rem 1.25rem 6.25rem #1a1919;
          box-shadow: 1.25rem 1.25rem 6.25rem #1a1919, -1.25rem 1.25rem 6.25rem #1a1919;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.hamburger___menu___button > img {
  height: 3rem;
  -webkit-filter: brightness(5%);
          filter: brightness(5%);
}

.hamburger___menu > a {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.hamburger___menu > a:not(:last-child) {
  padding-bottom: 1.25rem;
}

.hamburger___menu > a:hover {
  color: #70c7d4;
}

.tratamentos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1100px) {
  .tratamentos {
    margin-left: 0;
    margin-right: 0;
  }
}

.tratamentos___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.tratamentos___items___lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .tratamentos___items___lines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

.tratamentos___items___container {
  margin: 1.875rem 6.25rem 0 6.25rem;
}

.tratamentos___items___container img {
  height: 5.625rem;
  width: 5.625rem;
  padding: 0.9375rem;
  margin-bottom: 0.625rem;
  -webkit-transition: background-color 0.5s, -webkit-transform 1s;
  transition: background-color 0.5s, -webkit-transform 1s;
  transition: transform 1s, background-color 0.5s;
  transition: transform 1s, background-color 0.5s, -webkit-transform 1s;
  background: #70c7d4;
  border-radius: 50%;
}

.tratamentos___items___container img:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #245f68;
}

.tratamentos___items___container h3 {
  font-weight: 300;
  letter-spacing: 0.0625rem;
  font-size: 1.5rem;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/odontologia.png);
  background-blend-mode: soft-light;
  background-color: rgba(11, 5, 8, 0.877);
  background-size: cover;
  background-attachment: fixed;
  padding: 3.125rem 0;
}

.sobre > h2 {
  margin-bottom: 3.125rem;
  color: #96e4f0;
}

.sobre___hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobre___hr___items {
  margin-right: 1.875rem;
  height: 80%;
  width: 0.0625rem;
  background-color: #f3efef;
}

@media (max-width: 1100px) {
  .sobre___hr___items {
    margin: 0;
    height: 0.0625rem;
    width: 100%;
  }
}

.sobre___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 0.625rem #1a1919;
  color: #f3efef;
}

@media (max-width: 1100px) {
  .sobre___container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
}

.sobre___container___items {
  text-align: center;
  margin-right: 4.6875rem;
  margin-left: 4.6875rem;
  width: 18.75rem;
}

@media (max-width: 1100px) {
  .sobre___container___items {
    margin: 4.6875rem 0 4.6875rem 0;
  }
}

.sobre___container___items > h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.sobre___container___items > p {
  max-width: 18.75rem;
  margin-top: 1.25rem;
  font-size: 1.2rem;
  letter-spacing: 0.125rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.sobre___container___items > ul {
  text-align: left;
  padding: 0;
}

.sobre___container___items > ul li {
  list-style-type: disc;
  font-size: 1.2rem;
  letter-spacing: 0.125rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.sobre___container___items > ul li:not(:last-child) {
  padding-bottom: 0.3125rem;
}

.historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia___container {
  max-width: 60vw;
  text-align: justify;
}

@media (max-width: 1100px) {
  .historia___container {
    max-width: 80vw;
  }
}

.historia___container p {
  font-size: 1.15rem;
  font-weight: 300;
}

.historia___container p:not(:last-child) {
  padding-bottom: 2vh;
}

.localizacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localizacao___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.localizacao___container___endereco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.localizacao___container___endereco___text {
  padding-left: 1.5rem;
}

.localizacao___container___endereco___icon {
  width: 50px;
}

.localizacao___container___endereco___icon > img {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

.localizacao___container___endereco___icon:nth-child(2) {
  width: 40px;
}

.localizacao___container___mapa {
  width: 99vw;
}

.localizacao___container___mapa > iframe {
  width: 99vw;
  height: 50vh;
  border: 0;
}

.consultorio___container___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultorio___container___items___carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42.5rem;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .consultorio___container___items___carousel {
    width: 100vw;
    border-radius: 0px;
  }
}

.consultorio___container___items___carousel___imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

.consultorio___container___items___carousel___imgs > img {
  width: 42.5rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 1100px) {
  .consultorio___container___items___carousel___imgs > img {
    width: 100vw;
  }
}

.equipe___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipe___container___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .equipe___container___items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.equipe___container___items___membro {
  text-align: center;
  color: #f3efef;
  margin: 20px;
}

@media (max-width: 1100px) {
  .equipe___container___items___membro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
  }
}

.equipe___container___items___membro___descricao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 300px;
  padding: 30px;
  z-index: 0;
  background-image: url(../img/vitu.jpg);
  background-color: none;
  background-blend-mode: darken;
  background-size: 300px;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.equipe___container___items___membro___descricao > h4 {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 1.2rem;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  visibility: hidden;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}

.equipe___container___items___membro___descricao > p {
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.equipe___container___items___membro___descricao a img {
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  visibility: visible;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.equipe___container___items___membro___descricao a img:first-child {
  margin-right: 5px;
}

.equipe___container___items___membro___descricao:hover {
  background-color: rgba(11, 5, 8, 0.877);
}

.equipe___container___items___membro___descricao:hover > h4 {
  visibility: visible;
  opacity: 100;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.equipe___container___items___membro___descricao:hover > p {
  visibility: visible;
  opacity: 100;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.equipe___container___items___membro___descricao:hover img {
  visibility: visible;
  opacity: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.equipe___container___items___membro___descricao:hover > .equipe___container___items___membro___descricao___hr {
  visibility: visible;
  opacity: 100%;
}

.equipe___container___items___membro___descricao___hr {
  margin-top: 0.5rem;
  height: 1px;
  width: 60%;
  background-color: #f3efef;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.contatos {
  background-color: #1a1919;
  padding-bottom: 6.25rem;
}

.contatos h2 {
  padding: 3.125rem 0;
}

.contatos___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3efef;
}

@media (max-width: 800px) {
  .contatos___container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .contatos___container___redes-sociais {
    padding-bottom: 6.25rem;
  }
}

.contatos___container___redes-sociais___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f3efef;
  width: 150px;
}

.contatos___container___redes-sociais___items img {
  height: 3.125rem;
  margin-right: 1.25rem;
}

.contatos___container___redes-sociais___items:not(:last-child) {
  padding-bottom: 3.125rem;
}

.contatos___container___forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contatos___container___forms___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .contatos___container___forms___items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contatos___container___forms___items:not(:last-child) {
  padding-bottom: 1.25rem;
}

.contatos___container___forms___items > label {
  font-weight: 700;
}

.contatos___container___forms___items > input {
  font-size: 2.5rem;
  width: 25rem;
  height: 3.75rem;
}

@media (max-width: 800px) {
  .contatos___container___forms___items > input {
    width: 70vw;
  }
}

.contatos___container___forms___items > textarea {
  width: 400px;
  height: 120px;
}

@media (max-width: 800px) {
  .contatos___container___forms___items > textarea {
    width: 70vw;
  }
}

.contatos___container___forms___items___submit {
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #70c7d4;
  font-size: 25px;
  color: #f3efef;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contatos___container___forms___items___submit:hover {
  cursor: pointer;
  background-color: #245f68;
}
/*# sourceMappingURL=style.css.map */