*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #1a1919;
}

body a {
  text-decoration: none;
  color: #1a1919;
}

body ul li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.subtitles {
  letter-spacing: 0.0625rem;
  font-size: 2rem;
  color: #70c7d4;
  margin-bottom: 1.875rem;
  text-align: center;
}

.container-margin {
  margin: 3.125rem 0 6.25rem 0;
}

@media (max-width: 1310px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1311px) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  height: 100vh;
  width: 100%;
  /*display: flex;
    flex-wrap: wrap;*/
}

.header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.8rem 1.875rem;
  height: 13vh;
}

.header___logo img {
  width: 9.375rem;
}

.header___menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header___menu ul > li:not(:first-child) {
  padding-left: 1.875rem;
}

.header___menu___content {
  font-weight: 700;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f3efef;
}

.header___menu___content:hover {
  font-size: larger;
  color: #70c7d4;
}

.header___menu___button img {
  height: 3.75rem;
  padding: 0.9375rem;
  background-color: #70c7d4;
  border-radius: 30%;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.header___menu___button img:hover {
  height: 4.0625rem;
}

.header___hamburger > span {
  display: block;
  height: 0.25rem;
  width: 1.5625rem;
  background: #f3efef;
}

.header___hamburger > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header___img___container {
  background-image: url(../img/consultorio.jpg);
  background-blend-mode: color;
  background-color: rgba(29, 30, 31, 0.548);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header___img___container > h3 {
  font-size: 4rem;
}

.header___img___container > p {
  font-size: 3rem;
}

.tratamentos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1100px) {
  .tratamentos {
    margin-left: 0;
    margin-right: 0;
  }
}

.tratamentos___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70vw;
}

@media (max-width: 1100px) {
  .tratamentos___items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

.tratamentos___items___container {
  margin: 1.875rem 6.25rem 0 6.25rem;
  /*@include mobile ($change-flex-tratamento){
                margin: 10px 0 20px 0;
            }*/
}

.tratamentos___items___container img {
  height: 5.625rem;
  width: 5.625rem;
  padding: 0.9375rem;
  margin-bottom: 0.625rem;
  -webkit-transition: background-color 0.5s, -webkit-transform 1s;
  transition: background-color 0.5s, -webkit-transform 1s;
  transition: transform 1s, background-color 0.5s;
  transition: transform 1s, background-color 0.5s, -webkit-transform 1s;
  background: #70c7d4;
  border-radius: 50%;
}

.tratamentos___items___container img:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #245f68;
}

.tratamentos___items___container h3 {
  font-weight: 300;
  letter-spacing: 0.0625rem;
  font-size: 1.5rem;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/odontologia.png);
  background-blend-mode: soft-light;
  background-color: rgba(11, 5, 8, 0.877);
  background-size: cover;
  background-attachment: fixed;
  margin-right: 0;
  padding: 3.125rem 0;
}

.sobre > h2 {
  margin-bottom: 3.125rem;
  color: #96e4f0;
}

.sobre___hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobre___hr___items {
  margin-right: 1.875rem;
  height: 80%;
  width: 0.0625rem;
  background-color: #f3efef;
}

@media (max-width: 1100px) {
  .sobre___hr___items {
    margin: 0;
    height: 0.0625rem;
    width: 100%;
  }
}

.sobre___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 0.625rem #1a1919;
  color: #f3efef;
}

@media (max-width: 1100px) {
  .sobre___container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
}

.sobre___container___items {
  text-align: center;
  margin-right: 4.6875rem;
  margin-left: 4.6875rem;
  width: 18.75rem;
}

@media (max-width: 1100px) {
  .sobre___container___items {
    margin: 4.6875rem 0 4.6875rem 0;
  }
}

.sobre___container___items > h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.sobre___container___items > p {
  max-width: 18.75rem;
  margin-top: 1.25rem;
  font-size: 1.2rem;
  letter-spacing: 0.125rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.sobre___container___items > ul {
  text-align: left;
  padding: 0;
}

.sobre___container___items > ul li {
  list-style-type: disc;
  font-size: 1.2rem;
  letter-spacing: 0.125rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.sobre___container___items > ul li:not(:last-child) {
  padding-bottom: 0.3125rem;
}

.historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia___container {
  max-width: 60vw;
  text-align: justify;
}

@media (max-width: 1100px) {
  .historia___container {
    max-width: 80vw;
  }
}

.historia___container p {
  font-size: 1.15rem;
  font-weight: 300;
}

.historia___container p:not(:last-child) {
  padding-bottom: 2vh;
}

.localizacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localizacao___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localizacao___container___endereco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.localizacao___container___endereco___text {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.localizacao___container___endereco___icon {
  width: 50px;
}

.localizacao___container___mapa {
  width: 99vw;
}

.localizacao___container___mapa > iframe {
  width: 99vw;
  height: 50vh;
  border: 0;
}

.geral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultorio___container {
  width: 33vw;
  height: 45vh;
  border-radius: 20px;
  overflow: hidden;
}

.consultorio___container___slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
}

.consultorio___container___slides___slide {
  width: 20%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.consultorio___container___slides___slide img {
  height: 45vh;
}

.consultorio___container___slides input {
  display: none;
}

.consultorio___container___slides___manual {
  position: absolute;
  width: 674.66px;
  margin-top: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.consultorio___container___slides___manual___btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.consultorio___container___slides___manual___btn:hover {
  background: #40d3dc;
}

.consultorio___container___slides___manual___btn:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.contatos {
  background-color: #1a1919;
}

.contatos h2 {
  padding: 50px 0;
}

.contatos___container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3efef;
}

.contatos___container___redes-sociais {
  padding-bottom: 200px;
}

.contatos___container___redes-sociais___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3efef;
}

.contatos___container___redes-sociais___items:not(:last-child) {
  padding-bottom: 20px;
}

.contatos___container___redes-sociais img {
  height: 50px;
  margin-right: 20px;
}

.contatos___container___forms___items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contatos___container___forms___items:not(:last-child) {
  padding-bottom: 20px;
}

.contatos___container___forms___items > label {
  font-weight: 700;
}

.contatos___container___forms___items > input {
  font-size: 40px;
  width: 400px;
  height: 60px;
}

.contatos___container___forms___items > textarea {
  height: 60px;
}

.contatos___container___forms___items___submit {
  margin-left: 100px;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #70c7d4;
  font-size: 25px;
  color: #f3efef;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contatos___container___forms___items___submit:hover {
  cursor: pointer;
  background-color: #245f68;
}
/*# sourceMappingURL=style.css.map */